/*! ------------------------------------------------------------------------ !*\
    Created By: Gregory Daynes
\*! ------------------------------------------------------------------------ !*/

html { font-family: sans-serif; }
body { margin: 0px; }

// Structure
.carousel {}
.carousel__radio-control {}
.carousel__viewport {}
.carousel__container {}
.carousel__item.media__obj {}
.carousel__img.img {}
.carousel__caption.caption {}
.carousel__title.title {}
.carousel__text.text {}
.carousel__link.link {}
.carousel__nav.nav {}
.carousel__nav-item.button {}
.carousel__nav-previous.button {}
.carousel__nav-next.button {}

// States
.is-hidden {}


.carousel {
  width: 100%;
  }
  .carousel__radio-control {
    box-sizing: border-box;
    display: none;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    }

  .carousel__item {
    background-color: #fff;
    margin: 0 0 20px;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    position: relative;
  }
  .carousel__img {
    width: 100%;
    }
  .carousel__caption {
    display: block;
    }
    .carousel__title {
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(221,221,221);
      font-size: 2em;
      font-weight: 400;
      margin: 10px 0;
      text-transform: capitalize;
      }
    .carousel__link {
      background-color: transparent;
      display: block;
      text-align: right;
      }

.carousel__nav {
  display: none;
  }

@media (min-width: 600px) {
  .carousel {
    position: relative;
    }
    .carousel__viewport {
      overflow: hidden;
      width: 100%;
      }
      .carousel__container {
        transition: margin 0.3s;
        display: block;
        margin-left: 0px;
        width: 500%;
        }
        .carousel__item {
          background-color: red;
          float: left;
          margin: 0px;
          padding: 0px;
          width: 20%;
          }
          .carousel__caption {
            background-color: rgba(0, 0, 0, 0.5);
            bottom: 0px;
            color: #fff;
            padding: 0 10px 10px;
            position: absolute;
            }
            .carousel__title {
              border-bottom-style: none;
              padding: 0px;
              text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px;
              }
            .carousel__img {
              display: block;
              }

  .carousel__nav {
    display: block;
    text-align: center;
    }

  .carousel__nav .button,
  .carousel__nav-item {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 100%;
    line-height: normal;
    margin: 0px;
    text-transform: none;
    }
    .carousel__nav-next {
      float: right;
      }
    .carousel__nav-previous {
      float: left;
      }

  // Slide positioning
  #item1:checked ~ .carousel__viewport .carousel__container { margin-left:    0;  }
  #item2:checked ~ .carousel__viewport .carousel__container { margin-left: -100%; }
  #item3:checked ~ .carousel__viewport .carousel__container { margin-left: -200%; }
  #item4:checked ~ .carousel__viewport .carousel__container { margin-left: -300%; }
  #item5:checked ~ .carousel__viewport .carousel__container { margin-left: -400%; }

  // slide nav highlighting
  #item1:checked ~ .carousel__nav .carousel__nav-item[for=item1],
  #item2:checked ~ .carousel__nav .carousel__nav-item[for=item2],
  #item3:checked ~ .carousel__nav .carousel__nav-item[for=item3],
  #item4:checked ~ .carousel__nav .carousel__nav-item[for=item4],
  #item5:checked ~ .carousel__nav .carousel__nav-item[for=item5] {
    text-decoration: underline
  }
}